<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bugaboo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <!--<link rel="stylesheet" href="static/css/libs/chessboard-1.0.0.css">-->
        <link rel="stylesheet" href="static/css/game.css">
        <script src="static/js/libs/jquery-3.4.1.min.js"></script>
        <!--<script src="static/js/libs/chessboard-1.0.0-modified.js"></script>-->
        <script src="static/js/libs/pixi.min.js"></script>
        <script src="static/js/libs/svg.min.js"></script>
   </head>

    <body>
        <div id="ui">
            <div id="boards">
                <div id="first_game_board" class="board"></div>
                <div id="second_game_board" class="board"></div>
            </div>
            <!--
            <div id="controls">
                <button id="headBtn">&lt;&lt;</button>
                <button id="prevBtn">&lt;</button>
                <button id="nextBtn">&gt;</button>
                <button id="tailBtn">&gt;&gt;</button>
            </div>
            -->
        </div>
        
        
        <script type="text/javascript">
            var moves = {{ data.moves|tojson }};
        </script>
        <script type="text/javascript" src="/static/js/game.js"></script>
    </body>

</html>