<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bugaboo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans">
        <link rel="stylesheet" href="static/css/game.css">
        <script src="static/js/libs/pixi.min.js"></script>
   </head>

    <body>
        
        <div id="ui">
            <div id="game" class id="game"></div>
            <div id="controls">
                <a href="/" id="back_button">&larr; Back</a>
                <button class="nav_button" id="head_button">&lt;&lt;</button>
                <button class="nav_button" id="prev_button">&lt;</button>
                <button class="nav_button" id="next_button">&gt;</button>
                <button class="nav_button" id="tail_button">&gt;&gt;</button>
            </div>
        </div>
        
        <script type="text/javascript">
            var moves = {{ data.moves|tojson }};
        </script>
        <script type="text/javascript" src="/static/js/game.js"></script>
    </body>

</html>